.Menu {
  height: 23px;
  width: 100%;
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.7em;
}

.Menu button {
  border: 1px solid white;
  background-color: white;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.Player {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid lightgray;
  margin: 5px;
}

.Player.black {
  background: rgb(192, 192, 192);
}
.Player.white {
  background: white;
}
.Player.selected {
  border: 2px dashed #555;
}
.whiteCounter,
.blackCounter {
  width: 100px;
  height: 10px;
  top: 10px;
  padding-left: 3px;
  position: absolute;
  color: #222;
}
