.App {
  text-align: center;
  height: 1000px;
  width: 800px;
  margin: auto;
  padding-top: 30px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Grid {
  display: Grid;
  Grid-template-columns: repeat(auto-fill, minmax(5rem, 1fr));
  Grid-auto-rows: 1fr;
}

.Grid::before {
  content: '';
  width: 0;
  padding-bottom: 100%;
  Grid-row: 1 / 1;
  Grid-column: 1 / 1;
}

.Grid > *:first-child {
  Grid-row: 1 / 1;
  Grid-column: 1 / 1;
}

/* Just to make the Grid visible */

.Grid > * {
  background: rgba(0,0,0,0.1);
  border: 1px white solid;
}