.App {
  height: 1000px;
  width: 800px;
  margin: auto;
  padding-top: 0px;
}

.App .TopMenu {
  height: 23px;
  width:100%;
  padding: 5px;
}

.App button {
  height: 21px;
  width: 70px;
  margin-right: 10px;
}

.Grid {
  display: Grid;
  grid-template-columns: repeat(auto-fill, minmax(1rem, 1fr));
  grid-auto-rows: 1fr;
}

.Grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.Grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

/* Just to make the Grid visible */

.Grid > * {
  background: rgba(0, 0, 0, 0.1);
  border: 1px white solid;
  animation: App-logo-spin infinite s linear;
}

.Grid div {
  background: lightgray;
  cursor: pointer;
}

.Grid div.alive {
  background: white;
}

